<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
	<appSettings>
		<add key="OtopusHost_" value="http://45.32.106.7:9092"/>
		<add key="AppHost_" value="http://45.32.106.7:9092"/>

		<add key="OtopusHost" value="http://WashMachine"/>
		<add key="AppHost" value="http://45.32.106.7:9093"/>

		<add key="CoinmachinePath" value="c:\coinmachine"/>
		<add key="CoinmachinePort" value="com3"/>

		<add key="DisableBackground" value="true"/>
		<add key="IsDevelopment" value="true"/>
		
		<add key="XorMethod" value="1"/>
		<add key="HexTrimMethod" value="1"/>

		<add key="OctopusCom" value="COM1"/>
		<add key="OctopusRwlInitPath" value="C:\Windows\rwl.ini"/>
		
		<add key="DollarCom" value="COM1"/>
		<add key="DollarBaudRate" value="38400"/>
		<!--Parity Values: None, Odd, Even, Mark, Space-->
		<add key="DollarParity" value="None"/>
		<add key="DollarData" value="8"/>
		<!--Parity Values: None, One, Two, OnePointFive-->
		<add key="DollarStopBits" value="One"/>
		
		<add key="CouponCom" value="COM3"/>
		<add key="CouponBaudRate" value="9600"/>
		<!--Parity Values: None, Odd, Even, Mark, Space-->
		<add key="CouponParity" value="None"/>
		<add key="CouponData" value="8"/>
		<!--Parity Values: None, One, Two, OnePointFive-->
		<add key="CouponStopBits" value="One"/>

		<!--Parity Values: 1: USB, 2: COM-->
		<add key="ScanWithDeviceType" value="1"/>
		<add key="CouponCode" value="G102050100001010123456721"/>
		
		<add key="EftTilNumber" value="UAT"/>
		<add key="EftEcrRefNo" value="1234567890123456"/>
		<add key="EftAlipayBarCode" value="280000000000000000"/>
		<add key="EftPaymeBarCode" value="863781706642776272"/>
		
		<!--For testing value: 0 is using key CouponCode to test, 1 is using scan by device-->
		<add key="ScanCouponMode" value="0"/>
		<!--For testing value: 0 is using key EftAlipayBarCode to test, 1 is using scan by device-->
		<add key="ScanAlipayMode" value="0"/>
		<!--For testing value: 0 is using key EftPaymeBarCode to test, 1 is using scan by device-->
		<add key="ScanPaymeMode" value="0"/>
		<!--For testing value: 0 is using to test printer-->
		<add key="ScanOctopusMode" value="0"/>
		
		<add key="ScanTimeout" value="20"/>
	</appSettings>
</configuration>
