<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
	<appSettings>
		<add key="OtopusHost" value="http://WashMachine"/>
		<add key="AppHost" value="http://45.32.106.7:9096"/>

		<add key="XorMethod" value="1"/>
		<add key="HexTrimMethod" value="1"/>

		<add key="OctopusCom" value="COM1"/>
		<add key="OctopusRwlInitPath" value="C:\Windows\rwl.ini"/>

		<!--Parity Values: 1: USB, 2: COM-->
		<add key="ScanWithDeviceType" value="1"/>
		
		<add key="EftTilNumber" value="UAT"/>
		<add key="EftEcrRefNo" value="1234567890123456"/>
		<add key="EftAlipayBarCode" value="280000000000000000"/>
		<add key="EftPaymeBarCode" value="863781706642776272"/>
		
		<!--For testing value: 0 is using key EftAlipayBarCode to test, 1 is using scan by device-->
		<add key="ScanAlipayMode" value="1"/>
		<!--For testing value: 0 is using key EftPaymeBarCode to test, 1 is using scan by device-->
		<add key="ScanPaymeMode" value="1"/>
		<!--For testing value: 0 is using to test printer-->
		<add key="ScanOctopusMode" value="1"/>
		
		<add key="ScanTimeout" value="20"/>
		<add key="DelayDeduct" value="5"/>

		<add key="WashMachineCom" value="COM1"/>
		<add key="WashMachineBaudRate" value="38400"/>
		<!--Parity Values: None, Odd, Even, Mark, Space-->
		<add key="WashMachineParity" value="None"/>
		<add key="WashMachineData" value="8"/>
		<!--Parity Values: None, One, Two, OnePointFive-->
		<add key="WashMachineStopBits" value="One"/>

		<add key="DryerMachineCom" value="COM1"/>
		<add key="DryerMachineBaudRate" value="38400"/>
		<!--Parity Values: None, Odd, Even, Mark, Space-->
		<add key="DryerMachineParity" value="None"/>
		<add key="DryerMachineData" value="8"/>
		<!--Parity Values: None, One, Two, OnePointFive-->
		<add key="DryerMachineStopBits" value="One"/>
	</appSettings>
</configuration>
