################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WashMachine.Forms/bin
/WashMachine.Forms/obj
/WashMachine.Octopus/bin
/WashMachine.Octopus/obj
/WashMachine.Web/bin
/WashMachine.Web/obj
/WashMachine.Business/obj
/Libraries/obj
/WashMachinet.Rsepositories/obj
/WashMachine.Forms/bin/Debug/WashMachine.Forms.exe
/WashMachine.Forms/bin/Debug/WashMachine.Forms.pdb
/WashMachine.Forms/obj/Debug/WashMachine.Forms.csproj.CoreCompileInputs.cache
/WashMachine.Forms/obj/Debug/WashMachine.Forms.exe
/WashMachine.Forms/obj/Debug/WashMachine.Forms.pdb
/WashMachine.Forms/obj/Debug/WashMachine.Forms.csproj.FileListAbsolute.txt
/WashMachine.Forms/obj/Debug/WashMachine.Forms.csproj.GenerateResource.cache
/WashMachine.Forms/.vs/WashMachine.Forms.csproj.dtbcache.json
/WashMachine.Forms/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WashMachine.Business/obj/Debug/netcoreapp2.1/WashMachine.Business.AssemblyInfo.cs
/WashMachine.Business/obj/Debug/netcoreapp2.1/WashMachine.Business.AssemblyInfoInputs.cache
/WashMachine.Business/obj/Debug/netcoreapp2.1/WashMachine.Business.csproj.AssemblyReference.cache
/WashMachine.Octopus/obj/Debug/netcoreapp2.1/WashMachine.Octopus.AssemblyInfo.cs
/WashMachine.Octopus/obj/Debug/netcoreapp2.1/WashMachine.Octopus.AssemblyInfoInputs.cache
/WashMachine.Octopus/obj/Debug/netcoreapp2.1/WashMachine.Octopus.csproj.AssemblyReference.cache
/WashMachine.Web/obj/Debug/netcoreapp2.1/WashMachine.Web.AssemblyInfo.cs
/WashMachine.Web/obj/Debug/netcoreapp2.1/WashMachine.Web.AssemblyInfoInputs.cache
/WashMachine.Web/obj/Debug/netcoreapp2.1/WashMachine.Web.csproj.AssemblyReference.cache
/WashMachinet.Repositories/obj/Debug/netcoreapp2.1/WashMachine.Repositories.AssemblyInfo.cs
/WashMachinet.Repositories/obj/Debug/netcoreapp2.1/WashMachine.Repositories.AssemblyInfoInputs.cache
/Libraries/obj/Debug/netcoreapp2.1/Libraries.AssemblyInfo.cs
/Libraries/obj/Debug/netcoreapp2.1/Libraries.AssemblyInfoInputs.cache
