@model WashMachine.Business.Models.ShopModel
@{
    ViewData["Title"] = "Shop users";

    ViewBag.PageType = PageTypes.ListShops;
    var filter = (Libraries.ParamFilter)ViewBag.Filter;
    Layout = null;
}
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Set user for shop: @Model.Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-area">
                            <span class="group-title">Users in shop</span>
                            <div class="current-shop" data-refer-url="/administrator/access/ListNormalUsers?include=@Model.UserIds">
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-area">
                            <span class="group-title">Avalible users</span>
                            <div class="available-users" data-refer-url="/administrator/access/ListNormalUsers?exclude=@Model.UserIds">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="hidden">
                    <form action="/administrator/shops/SaveShopowner">
                        <input name="Id" type="hidden" value="@Model.Id" />
                        <input name="UserIds" type="hidden" value="@Model.UserIds" />
                    </form>
                </div>
                <button type="button" class="btn btn-primary" onclick="saveShopOwrner()">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

