@model WashMachine.Business.Models.ForgetPasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta name='keywords' content='' />
    <meta name='description' content='' />
    <link rel="alternate" href="http://house/lien-he" hreflang="vi-vn" />
    <link rel="canonical" href="http://house/lien-he" />

    <meta property="og:url" content="http://house/lien-he" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link href="~/cdn/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fonts/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/cdn/css/style.css" rel="stylesheet" />
    <link href="~/css/boxcut.css" rel="stylesheet" />
    <link href="~/lib/selection/selectionstyle.css" rel="stylesheet" />
    <link href="~/css/manager.css" rel="stylesheet" />
    <link href="~/css/error.css" rel="stylesheet" />

    <script src="~/cdn/jquery/jquery.min.js"></script>
    <script src="~/side-app/ultil/ultil.js"></script>
    <script src="~/lib/bootbox/bootbox.js"></script>
    <script src="~/lib/notify/notify.js"></script>
    <script src="~/side-app/forgotpassword/index.js"></script>

</head>
<body data-message="@TempData["Message"]">
    <div class="container">
        <div class="login-area" style="text-align:center;border:none;" id="forgotclient">
            <form class="form-area" autocomplete="off" enctype="multipart/form-data" method="post" action="/forgotpassword" novalidate="novalidate">
                <h2 class="text-center">FORGOT PASSWORD</h2>
                <div>Enter your <strong>email address</strong> that you used to register.</div>
                <p> We'll send you  an email with a link to reset password.</p>

                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-8 form-item">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "email", autocomplete = "off", placeholder = "Enter your email" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
                <div class="form-button">
                    <a href="/" class="btn btn-default">Back</a>
                    <button type="submit" class="btn btn-primary " id="submitbutton">Reset</button>
                </div>
                <p>Note: Link reset there is only a time limit of 30 minutes. When the link expires or the password is changed successfully, the link will be canceled.</p>
            </form>
        </div>
        <div class="form-area" id="sentmail" style="text-align:center; display:none;">
            <h2 class="text-center">FORGOT PASSWORD</h2>

            <p>We've sent a reset link to your <strong>recovery email.</strong></p>
            <p>Note: Link reset there is only a time limit of 30 minutes. When the link expires or the password is changed successfully, the link will be canceled.</p>
        </div>
    </div>

</body>
</html>



