<html lang="en">
<head>
    <title>POS SYSTEM</title>
    <meta meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name='keywords' content='' />
    <meta name='description' content='' />
    <meta name="robots" content="noindex,nofollow">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link href="/cdn/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="16x16" href="/theme/matrix-admin/assets/images/favicon.png">
    <link href="/theme/matrix-admin/dist/css/style.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .bg-light {
            background-color: #ffffff !important;
        }
    </style>
    <script src="/theme/matrix-admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/theme/matrix-admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Styles", required: false)
</head>
<body data-message="" class="bg-none " data-collection-type-key="NotRequired">
    @RenderBody()
    <div id="modal-placeholder" class="modal-middle"></div>
    @RenderSection("Scripts", required: false)
    <script>
        $(".preloader").fadeOut();
    </script>
</body>
</html>
