@using WashMachine.Web
@{
    var systemInfo = Context.GetSystemInfo();
    var userInfo = Context.GetUserInfo();
}
<div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
        <ul id="sidebarnav" class="pt-4">
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                   href="/administrator" aria-expanded="false">
                    <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                   href="/administrator/shops/listshops" aria-expanded="false">
                    <i class="fas fa-shopping-cart"></i><span class="hide-menu">Shops</span>
                </a>
            </li>
            @if (systemInfo.User.IsAdmin)
            {
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="/administrator/access/listusers" aria-expanded="false">
                        <i class="mdi mdi-account-key"></i><span class="hide-menu">Users</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="/administrator/reports/order" aria-expanded="false">
                        <i class="far fa-money-bill-alt"></i><span class="hide-menu">Order Reports</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="/administrator/reports/coupon" aria-expanded="false">
                        <i class="fas fa-barcode"></i><span class="hide-menu">Coupon Reports</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="/administrator/setting/OctopusSetting" aria-expanded="false">
                        <i class="ti-settings"></i><span class="hide-menu">Octopus settings</span>
                    </a>
                </li>

                <li class="sidebar-item" style="position: absolute;bottom: 0;">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="/administrator/setting/GeneralSetting" aria-expanded="false">
                        <i class="ti-settings"></i><span class="hide-menu">System settings</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>
