@{
    ViewData["Title"] = "Dashboard";
}
<div class="row">
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <a href="/" style="color: white;">
            <div class="card card-hover">
                <div class="box bg-cyan text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-view-dashboard"></i></h1>
                    <h6 class="text-white">Dashboard</h6>
                </div>
            </div>
        </a>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-3">
        <a href="/administrator/shops/listshops" style="color: white;">
            <div class="card card-hover">
                <div class="box bg-success text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-receipt"></i></h1>
                    <h6 class="text-white">Shops</h6>
                </div>
            </div>
        </a>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <a href="/administrator/access/listusers" style="color: white;">
            <div class="card card-hover">
                <div class="box bg-warning text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-account-key"></i></h1>
                    <h6 class="text-white">Users</h6>
                </div>
            </div>
        </a>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-3">
        <a href="/administrator/setting/OctopusSetting" style="color: white;">
            <div class="card card-hover">
                <div class="box bg-danger text-center">
                    <h1 class="font-light text-white"><i class="ti-settings"></i></h1>
                    <h6 class="text-white">Octopus settings</h6>
                </div>
            </div>
        </a>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-3">
        <a href="/administrator/setting/GeneralSetting" style="color: white;">
            <div class="card card-hover">
                <div class="box bg-warning text-center">
                    <h1 class="font-light text-white"><i class="ti-settings"></i></h1>
                    <h6 class="text-white">System settings</h6>
                </div>
            </div>
        </a>
    </div>
</div>